@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Slider */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/* End slider */

body {
  @apply bg-main-dark text-main-light font-poppins;
}

button {
  @apply !bg-minor-dark hover:!bg-minor-light text-main-light font-bold py-2 px-4 rounded focus:outline-none;
}

button:disabled {
  @apply !bg-main-dark;
}

input,
textarea {
  @apply border border-main-light px-2 py-1 rounded;
}

input:focus,
textarea:focus {
  @apply outline-none shadow-md shadow-minor-light;
}

table > tbody > tr > td,  table > thead > tr > td{
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

table > tbody > :nth-child(odd) {
  background-color: darkslategrey;
}